    {{#each comments}}
    <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>{{content}}</p>
        <footer class="blockquote-footer">{{author}} on {{date_created}}</footer>
        </blockquote>
    </div>
    </div>
    {{/each}}